.container {
  width: 90%;
  margin: 0 auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
}

td, th {
  width: 25%;
}

.mat-cell, .mat-header-cell {
  padding: 20px;
  border-bottom: none;
}

.img-wrapper {
    width: 200px;
}

.pagination {
  padding: 10px 0;
  float: right;
  font-size: 14px;
  color: rgba(0,0,0,.42);
}

.sortable {
  cursor: pointer;
  &.sort {
    color:black;
  }
}
